/* components/Navbar.module.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.navbar {
    background-color: #ffffff;
    padding: 3em 3em;
    margin-bottom: 1em;
    color: #243248;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100em; 
    margin: 0 auto;
    flex-direction: row;
  }
  
  .logo {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
  }

  .logo_text {
    letter-spacing: 0.5px;
    padding: 0.3em 0 0 0.1em;
  }

  .logo_image {
    width: 2.4em;
    height: 2em;
  }
  
  .navLinks {
    display: flex;
    list-style-type: none;
    gap: 1em;
    margin-top: 0.3em;
  }
  
  .navLinks li {
    letter-spacing: 0.5px;
    cursor: pointer;
    color: #8f8a99;
    font-size: 1.2rem;
  }
  
  .navLinks li a {
    text-decoration: none;
  }

  .active a {
    border-bottom: 2px solid white;
    color: #243248;
    font-weight: bold;
  }
  
